<!DOCTYPE html>
<html>
<body>
  <center><h1><%= ltemp%></h1></center>
<form method='post' action='/login'>
<center>Emailid: <input type="text" name ="lemailid"></center>
<center>password: <input type="password" name="lpassword"></center>
<center><input type="submit" value ="submit"></center>
</body>
</html>
